#home {
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: 100vh;
  flex-direction: column;
  background-color: #395B64;
}

.infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
  min-width: 250px;
  width: 95vw;
  margin-bottom: 1px;
}

.info-box {
  border-radius: 10px;
  background-color: #E7F6F2;
}

.code-box {
  background-color: #7bc6c9;
  font-weight: bold;
  margin-right: 2px;
  min-width: 70px;
  width: 20vw;
}

.amount-box {
  background-color: #A5C9CA;
  font-weight: bold;
  margin-right: 2px;
  min-width: 50px;
  width: 10vw;
}

.value-box {
  background-color: #a5caab;
  font-weight: bold;
  min-width: 110px;
  width: 30vw;
}

.trade-box {
  background-color: #a9d1d3;
  font-weight: bold;
  margin-left: 2px;
  min-width: 90px;
  width: 30vw;
}

.title {
  background-color: #2C3333;
  color: #E7F6F2;
  height: 2vh;
  margin-bottom: 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.stocks-area {
  max-height: 35vh;
  overflow: auto;
  text-align: center;
  border-radius: 15px;
}

.stocks-view-area {
  height: 75vh;
}

.home-button {
  width: 200px;
  height: 55px;
  background-color: #A5C9CA;
  border-radius: 5px;
  border: none;
}

.home-button:hover {
  width: 200px;
  height: 55px;
  background-color: #84d0d3;
  border-radius: 5px;
  border: none;
}

.stock-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1px;
}

.stocks-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3px;
}

.bg-gray {
  background-color: lightgray;
  border-radius: 5px;
}


.buy-wrapper {
  background-color: rgb(250, 135, 135);
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.market-box {
  position: relative;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
  height: 50vh;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #E7F6F2;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid rgb(114, 114, 114);
  overflow: auto;
}

.sell-wrapper {
  background-color: lightgreen;
  border-radius: 15px;
}

.stocks-view-area{
  margin-top: 25px;
  max-width: 500px;
  min-width: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 95vw;
  margin-bottom: 1px;
  background-color: #E7F6F2;
  border-radius: 15px;
}

.stock-market {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.trade-options input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: right;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.trade-stock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1px;
}

.user-infos {
  display: flex;
  flex-direction: row;
  background-color: #A5C9CA;
  border-radius: 15px;
  height: 5vh;
  padding-top: 5px;
}

.stock-infos {
  display: flex;
  flex-direction: column;
  background-color: #A5C9CA;
  border-radius: 15px;
  height: 5vh;
  padding-top: 5px;
}

.user-area {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.user-box {
  position: relative;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 auto;
  height: 50vh;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #E7F6F2;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid rgb(114, 114, 114);
  overflow: auto;
}