#home {
  align-items: center;
  display: flex;
  justify-content:  center;
  min-height: 100vh;
  flex-direction: column;
}

.infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
  min-width: 250px;
  width: 95vw;
  margin-bottom: 1px;
}

.info-box {
  border-radius: 10px;
  background-color: rgb(199, 211, 192);
}

.code-box {
  background-color: yellowgreen;
  font-weight: bold;
  margin-right: 2px;
  min-width: 70px;
  width: 20vw;
}

.amount-box {
  background-color: lightgray;
  font-weight: bold;
  margin-right: 2px;
  min-width: 50px;
  width: 10vw;
}

.value-box {
  background-color: lightgreen;
  font-weight: bold;
  min-width: 110px;
  width: 30vw;
}

.trade-box {
  background-color: rgb(175, 185, 154);
  font-weight: bold;
  margin-left: 2px;
  min-width: 90px;
  width: 30vw;
}

.title {
  background-color: darkgray;
  height: 2vh;
  margin-bottom: 1px;
}

.stocks-area {
  max-height: 35vh;
  overflow: auto;
  text-align: center;
}

.stocks-view-area {
  height: 75vh;
}

#home-button {
  margin-top: 20px;
}

.stock-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1px;
}

.stocks-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3px;
}

.bg-gray {
  background-color: lightgray;
  border-radius: 5px;
}

.trade-stock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1px;
}

.buy-wrapper {
  background-color: lightskyblue;
  border-radius: 15px;
}

.sell-wrapper {
  background-color: lightgreen;
  border-radius: 15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.trade-options input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: right;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.stocks-view-area{
  max-width: 500px;
  min-width: 250px;
  width: 95vw;
  margin-bottom: 1px;
}