#transactions {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #395B64;
}

#deposit-and-withdrawal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#balance {
  background-color: #A5C9CA;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border-radius: 15px;
}

.choose-transaction {
  height: 10vh;
}

.choose-transaction div {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}

.choose-transaction label,
.choose-transaction input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.choose-transaction input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.deposit input[type="radio"]:checked+label,
.Checked+label {
  background: yellow;
}

.withdrawal input[type="radio"]:checked+label,
.Checked+label {
  background: greenyellow;
}

.choose-transaction label {
  padding: 5px;
  border: 1px solid #A5C9CA;
  cursor: pointer;
  z-index: 90;
}

.choose-transaction label:hover {
  background: #A5C9CA;
}

.money-wrapper {
  position: relative;
}

.money-wrapper input {
  height: 10px;
  width: 150px;
}

.money-wrapper label {
  position: absolute;
  font-size: large;
  font-weight: bold;
  top: 10px;
  left: 5px;
}

.transactions-box {
  background-color: #E7F6F2;
  width: 95vw;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 15px;
}

.return-icon {
  position: absolute;
  left: -2px;
  top: 0;
}