#user-area {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #395B64;
}

.user-box {
  background-color: #E7F6F2;
  width: 95vw;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 15px;
}

.return-icon {
  position: absolute;
  left: -2px;
  top: 0;
}