#header {
  align-items: center;
  background-color: #A5C9CA;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: row;
  height: 5vh;
  justify-content:  center;
  position: absolute;
  top: 0;
  width: 100vw;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content:  space-around;
  width: 100vw;
}

.header-logo{
  margin-top: 5vh;
  position: absolute;
  width: 85px;
}

.profile-symbol{
  margin-right: 4vw;
  position: absolute;
  right: 0;
}